@font-face {
  font-family: 'mome';
  src:  url('../fonts/mome.eot?tredfj');
  src:  url('../fonts/mome.eot?tredfj#iefix') format('embedded-opentype'),
    url('../fonts/mome.ttf?tredfj') format('truetype'),
    url('../fonts/mome.woff?tredfj') format('woff'),
    url('../fonts/mome.svg?tredfj#mome') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-add:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-left:before {
  content: "\e903";
}
.icon-right:before {
  content: "\e904";
}
